<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <p *ngIf="(userAdminState | async).error">{{ (userAdminState | async).error }}</p>
    
    <form [formGroup]="userForm" (ngSubmit)="onSaveUser()">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname" formControlName="firstname" class="form-control">
        <label for="name">Last Name</label>
        <input type="text" id="name" name="name" formControlName="name" class="form-control">
        <label for="email">email</label>
        <input type="email" id="email" name="email" formControlName="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="role">role</label>
        <select id="role" name="role" formControlName="role">
          <option value="{{role.name}}" *ngFor="let role of roles">{{role.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          [placeholder]="editMode ? 'Laissez vide si vous ne changez pas le mdp' : ''"
          class="form-control">
      </div>
      <button
            type="submit"
            class="btn btn-success"
            [disabled]="!userForm.valid">{{ editMode ? "Edit user" : "Create user" }}</button>
    </form>
  </div>
</div>