<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#">Cahier de texte en ligne</a>
    </div>
    <div class="navbar-nav navbar-right">
      <a 
          routerLink="/signin"
          *ngIf="!(authState | async).authenticated">Login</a>
      <li
          *ngIf="(authState | async).userDto && (authState | async).userDto.roleName == 'admin'"
          class="dropdown" appDropdown>
        <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
          <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
        </ul>
      </li>
      <a
          style="cursor: pointer;"
          (click)="onLogout()"
          *ngIf="(authState | async).authenticated">Logout</a>
    </div>
  </div>
</nav>