<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#">Cahier de texte en ligne</a>
    </div>
    <div class="navbar-nav navbar-right">
      <a routerLink="/signin">Login</a>
      <a
          style="cursor: pointer;"
          (click)="onLogout()"
          *ngIf="(authState | async).authenticated">Logout</a>
      <a
          style="cursor: pointer;"
          (click)="onClick()">Click</a>
      <p
          *ngIf="(authState | async).role">{{(authState | async).role}}</p>
    </div>
  </div>
</nav>